#about-info{
    padding: 80px 0;
    .container-fluid{
        .container{
            .row{
                nav{
                    border-bottom: 3px solid #e1e1e1;
                    a{
                        color: #9b9b9b;
                        font-size: 20px;
                        transition: all .4s;
                        &:hover{
                            color: $mainColor;
                        }
                    }
                    a:last-child{
                        color: $mainColor;
                    }
                }
                span{
                    color: #e1e1e1;
                    font-size:15px;
                }
                p{
                    font-size: 20px;
                    color: #9b9b9b;
                    letter-spacing: 2px;
                }
            }
        }
    }
}