#about-slider{
    background-image: url(../img/bg-about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba($color: black, $alpha: .4);
    background-blend-mode: darken;
    padding: 100px 0;
}